<p class="name-flag"><img class="solo-country-flag"
        src="{{country.flag}}" 
        alt="Flag {{country.name}}" 
        width="45"
        height="30"><b>{{country.name}}</b></p>
<p><b>Capital:&#32</b>{{country.capital}}</p>
<p><b>Population:&#32</b>{{country.population}}</p>
<p><b>Languages:&#32</b>{{country.languages.map(lang => lang.name).join(', ')}}</p>